{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Usuários Cadastrados</h2>
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Função</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
        <tr>
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.funcao }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ url_for('main.cadastro') }}" class="btn btn-primary mt-3">Cadastrar Novo Usuário</a>
</div>
{% endblock %}
